.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0px;
    z-index: 100;
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;  
}

.Header a {
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
}


@media (max-width: 640px) {
    .Header {
    padding: 15px 0;
    }


    .HeaderGroup {
        grid-template-columns: repeat(2, auto);
    }

    .Header a:nth-child(4) {
        display: none;
    }
}